// Constant Definitions

// Global Attributes

@import 'reset'


body
  :background
    :color white
    :position center top
  :font
    :family Helvetica, Arial, sans-serif
    :size 24px
  :width 960px	
  p
    margin: 0
    padding: 0
    line-height: 1

#title
  :background orange
  :color gray
  :font-size 30px
  :width 4em

#info
  :background yellow
  :color black
  :font-size 20px
  :height 5em
  :text-align left


#about
  :background green
  :color white
  :font-size 20px
  :text-align left


#footer
  :background white
  :color gray
  :font-size 10px
  :height 20px
  :left 445px
  :position absolute
  :text-align center
  :top 700px

