Narcisus

Your User Agent is: #{request.env['HTTP_USER_AGENT']}



About:
Running since #{Time_start} at the local server
Ruby version:
Gems:
I'm runnnin in Sinatra Version + #{Sinatra::VERSION}"
Narcisus has been running for #{Time.now-Time_start}
